list {
    min-width: 250px;
    padding: 5px;
}
list row {
    padding: 18px 0;
    border-radius: 4px;
}
list row:hover {
    background-color: #fdf396;
}
list row:selected {
    background-color: #f5e76c;
    color: #212121;
}

textview.view {
    padding: 5px;
}
